#Parrafo1{
    color: tomato;
}

#Titulo1{
    color: aqua;
}

main{
    background-color: chartreuse;
}

body{
    background-color: black;
}

#Parrafo1{
    color: aliceblue;
}

#Titulo1{
    color:blue;
}